<!DOCTYPE html>
<html>
<head>
  <title>Cpmx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js"></script>
  <script type="text/javascript">
    // Conekta Public Key
    Conekta.setPublishableKey('<%= Rails.application.secrets.conekta_public %>');
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
